body{
	margin-top: 2em;
	text-align: center;
}
.gridof4{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 33%;
	height: 50%
	
}

.table{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}